.questionAnswered {
  background-color:#1a1a1a;
  color: white;
  padding-bottom: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.edit-question-form {
  color: white;
}

.questionsHeader {
  font-size: 50px;
}

.answerQuestionHeader {
  font-size: 50px;
}

.answerQuestionContainer {
  background-color:#1a1a1a;
  color: white;
  padding-bottom: 20px;
  margin-bottom: 30px;
  padding-left: 70px;
}
