.questionAnswered {
  background-color:#1a1a1a;
  color: white;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 50px;
  padding:0px 50px ;
  padding-bottom: 25px;
  border-bottom: solid 1px white;
  margin-bottom: 50px;
}

.edit-question-form {
  color: white;
  font-size: 20px;
}

.questionsHeader {
  font-size: 50px;
}

.answerQuestionHeader {
  font-size: 50px;
}

.answerQuestionContainer {
  background-color:#1a1a1a;
  color: white;
  /* padding-bottom: 20px; */
  /* margin-bottom: 30px; */
  padding-left: 70px;

}
