.edit-profile-form-container {
  display: flex;
  justify-content: center;
}

.profile-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}


.profile-input {
  color: white;
  border: 0;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
  display: block;
  outline: 0;
  padding: 0.25em 0.5em;
  width: 500px;
  background: transparent;
  padding-top: 30px;
  font-size: 20px;
}

.audio-input {
  color: white;
  border: 0;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
  display: block;
  outline: 0;
  padding: 0.25em 0.5em;
  width: 1100px;
  background: transparent;
  padding-top: 30px;
  font-size: 20px;
}

.picture-input {
  color: white;
  border: 0;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
  display: block;
  outline: 0;
  padding: 0.25em 0.5em;
  width: 1000px;
  background: transparent;
  padding-top: 30px;
  font-size: 20px;
}

select {
  padding: 0.25em 0.5em;
}

.selectField{

}

.labelName{
  padding-right: 10px;
  color: white;
}

.ProfileFormSubmitButton {
  background-color:#1a1a1a;
  padding: 10px 20px;
  border-radius: 10px 10px;
  color: white;
  width: min-content;
}

.profileFormHeader {
  font-size: 50px;
}

.ProfileNavExtension {
  background-color:#1a1a1a;
  color: white;
  padding-bottom: 20px;
  margin-bottom: 30px;
  padding-left: 50px;

}


.profile-nav-bar {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 100px;
  position: fixed;
  left: 50px;
  top: 200px;
  z-index: 2;
  padding: 30px 0px;

}

.profile-nav-bar a {
  color: white;
  text-decoration: none;
  padding: 30px 10px;
  font-size: 25px;

}


.question-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.profile-select {
  display: flex;
  flex-direction: column;
}

.profile-select select {
  border-radius: 5px 5px;
  padding: 10px 10px;
  padding-right: 50px;
  color: white;
  background: #1a1a1a;
  font-size: 20px;
  border: 3px solid white;
  /* margin-bottom: 10px; */
  margin-top: 5px;
}
