.edit-profile-form-container {
  display: flex;
  justify-content: center;
}

.profile-form {
  display: flex;
  flex-direction: column;

}
/*
input {
  border: 0;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
  display: block;
  margin-bottom: 2em;
  outline: 0;
  padding: 0.25em 0.5em;
  width: 500px;
  background: transparent;
} */

.profile-input {
  border: 0;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
  display: block;
  margin-bottom: 2em;
  outline: 0;
  padding: 0.25em 0.5em;
  width: 500px;
  background: transparent;
}

select {
  padding: 0.25em 0.5em;
}

.selectField{
  /* padding-bottom: 10px;
  margin-bottom: 2em; */
  padding-bottom: 2em;
}

.labelName{
  padding-right: 10px;
}

.ProfileFormSubmitButton {
  background-color:#1a1a1a;
  padding: 10px 20px;
  border-radius: 10px 10px;
  color: white;
  width: min-content;
  display: flex;
  justify-content: center;
}
