@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Island+Moments&family=Qwitcher+Grypen:wght@700&family=Roboto+Condensed:wght@700&display=swap');

.iconImg {
  height: 50px;
  width: 50px;
  border-radius: 3px;
}

.defaultImage {
  border-radius: 3px;
  margin-left: 5px;
  width: 600px;
  height: 500px;
  display: inline-block;
  object-fit: cover;
}

.ImageContainer {
  display: flex;
}


.userNameCursive {
  font-size: 150px;
  font-weight: 700;
  font-family: 'Island Moments', cursive;
  padding-bottom: 55px;
  z-index: 5;
}

.match_details_discover_under_name {
  color: #fff;
  font-size: 1.2vw !important;
  line-height: 0.9em;
  text-shadow: 2px 2px 15px #000000;
  z-index: 5;
  padding-left: 30px;
  font-weight:900;
}



.slide0 {
  color: #fff;
  line-height: 0.9em;
  position: absolute !important;
  z-index: 2;
  left:-50px;
  top:90px;
  text-shadow: 1px 1px 15px black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.slide0[slide='1'] {
  animation: slide 1s 1;
}


.slide1 {
  color: #fff;
  line-height: 0.9em;
  position: absolute !important;
  z-index: 2;
  left:-50px;
  top:90px;
  text-shadow: 1px 1px 15px black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slide1[slide='1'] {
  animation: slide 1s 1;
}

.slide2 {
  color: #fff;
  line-height: 0.9em;
  position: absolute !important;
  z-index: 2;
  left:-50px;
  top:90px;
  text-shadow: 1px 1px 15px black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.slide2[slide='1'] {
  animation: slide 1s 1;
}


@keyframes slide {
  0%   {left: 100px;}

  100% {left: -50px;}
}
