@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Island+Moments&family=Qwitcher+Grypen:wght@700&family=Roboto+Condensed:wght@700&display=swap');

.iconImg {
  height: 50px;
  width: 50px;
  border-radius: 3px;
}

.defaultImage {
  border-radius: 3px;
  margin-left: 5px;
  width: 600px;
  height: 500px;
  display: inline-block;
  object-fit: cover;
}

.ImageContainer {
  display: flex;
}


.slide0 {
  color: #fff;
  line-height: 0.9em;
  position: absolute !important;
  z-index: 2;
  left:-50px;
  top:90px;
  text-shadow: 1px 1px 15px black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.userNameCursive {
  /* font-size: 8vw !important; */
  font-size: 100px;
  font-weight: 700;
  font-family: 'Island Moments', cursive;
  padding-bottom: 30px;
  z-index: 5;

}

.match_details_discover_under_name {
  color: #fff;
  font-size: 3vw !important;
  line-height: 0.9em;
  font-weight: 700;
  text-shadow: 1px 1px 15px black;
  z-index: 5;

}




.slide0[slide='1'] {
  animation: slide 1s 1;
}



.slide1 {
  /* color: #fff;
  font-size: 8vw !important;
  line-height: 0.9em;
  font-weight: 700;
  text-align: center;
  height: auto;
  margin: 0 auto;
  font-family: 'Dancing Script', cursive;
  position: absolute;
  z-index: 2;
  top:10px;
  left:-70px;
  text-shadow: 1px 1px 15px black; */

  color: #fff;
  line-height: 0.9em;
  position: absolute !important;
  z-index: 2;
  left:-50px;
  top:90px;
  text-shadow: 1px 1px 15px black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}


.slide1[slide='1'] {
  animation: slide 1s 1;
}



.slide2 {
  color: #fff;
  line-height: 0.9em;
  position: absolute !important;
  z-index: 2;
  left:-50px;
  top:90px;
  text-shadow: 1px 1px 15px black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.slide2[slide='1'] {
  animation: slide 1s 1;
}



/* @keyframes slide {
  to {
    margin-right: 0%;
    width: 35%;
    opacity:1;

  }
  from {
    margin-right: 100%;
    width: 100%;
    opacity:0;
  }
} */

@keyframes slide {
  0%   {left: 100px;}

  100% {left: -50px;}
}
