
.oneMatchProfileContainerHeaderPage {

  background: #1a1a1a;
  padding: 20px 130px;
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}


.match_profile_image_discover {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 8px;
}

.match_profile_image_discover_noP {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.match_profile_images_container {
  display: flex;
  padding: 0px 20px;
  padding-bottom: 20px;
}

hr {
  border: none;
  border-top:1px solid #ccd0d9;;
  color: #e6e6e6;
  overflow: visible;
  text-align: center;
  height: 5px;
  padding: 0px 0px !important;
  margin: 120px 0px;

}



.matchContainerHeader {
  background: #1a1a1a;
  color: #fff;
  padding: 10px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}



.userPhotoMatch-first {
  position: absolute;
  top: 0;
  left: 50%;
  width: 98px;
  height: 98px;
  background: #ebedf2;
  border-radius: 50%;
  background-size: contain;
  border: 1px solid #fff;
  transform: translateX(-94px);
}

.userPhotoMatch-last {
  position: absolute;
  top: 0;
  left: 50%;
  width: 98px;
  height: 98px;
  background: #ebedf2;
  border-radius: 50%;
  background-size: contain;
  border: 1px solid #fff;
  transform: translateX(-4px);
  overflow: hidden;

}


.matchPercentCircle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 45px);
  width: 77px;
  height: 77px;
  margin-bottom: -27px;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  text-align: center;
  font-size: 1.35rem;
  line-height: 20px;
  font-weight: bold;

  background: #1a1a1a;
  color: #fff;
  box-shadow: 0 0 0 3px #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MatchProfileInnerContainer {
  position: relative;
  padding: 20px 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
}

.circlesContainer {
position: relative;
}

.agree, .disagree {
  width: calc(100% - 48px);
  height: 55px;
  padding: 0;
  margin: 0 24px;
  line-height: 55px;
}

.disagree {
  border-top: 1px solid #ccd0d9;
}

.agree, .disagree {
  display: flex;
  justify-content: space-between;
  color: black;

}

.agreeTable {
  width: 200px;
}


.matchButton, .matchButtonMessage {
  color: #fff;
  margin-right: 20px;
  font-size: 20px;
}

.heart-text {
  font-size: 20px;
  padding: 8px 10px;
}



.matchButtonMessage {
  padding-right: 30px;
}

.navLinkRemove {
  text-decoration: none;
  color: black;
}


a {
  text-decoration: none;

}

.match_profile_images_container_user {
  display: flex;
  padding: 0px 20px;
  padding-bottom: 20px;
  justify-content: center;
}


.match-user-about-container {
  margin-top: 20px;
  align-items: center;
  width: 700px;
  z-index: 3;
}

.match-percent-container {
  width: 542px;
  align-self: center;
}

.about-detail-container {
  display: flex;
  justify-content: center;
  background: whitesmoke !important;
  /* overflow-x: hidden; */
}

.detail-container {
  /* margin-top: 20px; */
}

.match-user-about-container {
  margin-right: 20px;
}

.match-user-detail-container {
  position: sticky;
  top: 0px;
  right:0;
  margin-bottom: auto;
  padding-bottom: 50px;
}

.match-profile-chat-bubble {
  position: absolute;
  top: 50px;
  left:25px;
  width: 180px;
}

.rope-man{
  position: relative;
}
