.Step1S{
  padding: 80px 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  position: absolute;
  top: 50px;
  font-size: 60px;
  transform: skew(60deg, -30deg) scaleY(.66667);
  color: white;
}

.Step2S {

  padding: 80px 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;

  position: absolute;
  top: 80px;
  left: 120px;
  font-size: 60px;
  transform: skew(0deg, -31deg) scaleY(1.33333);
  color: white;


}

.Step3S{
  padding: 80px 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;

  position: absolute;
  top: 130px;
  left: 160px;
  font-size: 60px;
  transform: skew(60deg, -30deg) scaleY(.66667);
  color: white;
}

.Step5S{
  margin: 0 auto;
  padding: 80px 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;

  position: absolute;
  top: 210px;
  left: 190px;
  font-size: 60px;
  transform: skew(0deg, -31deg) scaleY(1.33333);
  color: white;
}

.Step6S{
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  position: absolute;
  top: 160px;
  left: 200px;
  font-size: 60px;
  transform: skew(60deg, -30deg) scaleY(.66667);
  color: #d7a041;
  color: #d7a041;
  width:800px;
  height:80px;
}

.noUsersImg {
  position: absolute;
  left: 486px;
}

.noImgChat {
  position: absolute;
  left: 700px;
  top: 40px;
}

.noImgChatFirstLine {
  width: 180px;
  color: #d7a041;

}

.noImgChatSecondLine{
  padding-left: 20px;
  color: #d7a041;
}
