.SearchCarouselContainer {
  background: #1a1a1a;
}

.step-container-search {
  position: relative;
  width: 800px;
  display: inline-block;
  overflow-x: hidden;
  padding: 0px 10px;
  padding-left: 100px;
  border-right: 10px solid transparent;
  flex-shrink: 0;
  height: 900px;
}



.Step1s{
  padding: 80px 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  position: absolute;
  top: 50px;
  font-size: 60px;
  transform: skew(60deg, -30deg) scaleY(.66667);
  color: white;

}

.Step2s {

  padding: 80px 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;

  position: absolute;
  top: 90px;
  left: 140px;
  font-size: 60px;
  transform: skew(0deg, -31deg) scaleY(1.33333);
  color: white;

}

.Step3s{
  padding: 80px 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;

  position: absolute;
  top: 190px;
  left: 170px;
  font-size: 60px;
  transform: skew(60deg, -30deg) scaleY(.66667);
  color: white;

}

.Step5ss{
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  position: absolute;
  top: 125px;
  left: 190px;
  font-size: 60px;
  transform: skew(0deg, -31deg) scaleY(1.33333);
  color: #d7a041;
  width:800px;
  height:80px;
  /* background-color: wheat; */

}
