
.defaultImage {
  border-radius: 3px;
  margin-left: 5px;
  width: 400px;
  height: 400px;
  display: inline-block;
  object-fit: cover;
}


.defaultImageHoroscope {
  border-radius: 3px;
  margin-left: 5px;
  /* width: 300px;
  height: 300px; */
  width: 100%;
  display: inline-block;
  object-fit: cover;
  filter: blur(4px);
}

.iconImg {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  object-fit: cover;
}

.ImageContainer {
  display: flex;
}


.horoscope-content-slide {
  width: 450px;
  text-shadow: 1px 1px 3px black;
  line-height: 30px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px 5px;
  border-radius: 5px 5px;
  margin-top: 30px;


}
