.nav-login {
  background-color:#1a1a1a;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
  justify-content: center;
  padding: 20px 20px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.nav-modal-button {
  color: white;
}
