@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Condensed:wght@700&display=swap');



.nav-login {
  background-color:#1a1a1a;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
  justify-content: center;
  padding: 20px 20px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.nav-modal-button {
  color: white;
}

.container-banner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top-banner-pic {
  box-sizing: border-box;
  justify-content: center;
  display: flex !important;
  flex-direction: column;
  padding: 40px 64px;
  margin: 0 auto;
  border: 0px;
  height: 50vh;
  align-items: center;

  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  outline: none;
  box-shadow:inset 0 0 0 2000px rgba(27, 26, 27, .3);
  object-fit: fill;
  background-position-y: 90%;
  width: 100% !important;
  display: block;
}

.header-banner-ok {
  overflow-wrap: break-word !important;
  color: #fff;
  font-size: 13vw !important;
  line-height: 0.9em;
  font-weight: 700;
  text-align: center;
  height: auto;
  margin: 0 auto;
  position: relative;
  font-family: 'Dancing Script', cursive;
  position: absolute;
  z-index: 2;
  top:250px;
  transform: rotate(-18deg);
}

.header-banner-sign {
  overflow-wrap: break-word !important;
  color: #fff;
  font-size: 20vw !important;
  line-height: 0.9em;
  font-weight: 700;
  text-align: center;
  height: auto;
  margin: 0 auto;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFBD4A;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #FFBD4A,
  0 0 82px #FFBD4A,
  0 0 92px #FFBD4A,
  0 0 102px #FFBD4A,
  0 0 151px #FFBD4A;
  position: relative;
  z-index: 1;
}

.text-banner {
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.backend-errors {
  color: red;
}

.login-input {
  width: 90%;
  display: block;
  padding: 10px 15px;
  border: none;
  font-size: 1.0625rem;
  line-height: 20px;
  border-radius: 4px;
  border: 1px solid #c7c7c7;
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 19%);
  margin-bottom: 45px;

}

.login-input-spacer {
  padding: 0px 10px;
}

.login-modal {
  width: 400px;
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.login-buttons{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
}

.login-button {
  background-color: #FFC052;
  color: white;
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 18px;
  font-weight: bold;
  width: 100%;
  height: auto;
  display: block;
  padding: 15px 0;
  text-align: center;
  border-radius: 3px;
  position: relative;
  margin-bottom: 20px;
  width: 50%;
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 19%);

}
.demo-button {
  background-color: cornflowerblue;
  color: white;
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 18px;
  font-weight: bold;
  width: 100%;
  height: auto;
  display: block;
  padding: 15px 0;
  text-align: center;
  border-radius: 3px;
  position: relative;
  margin-bottom: 20px;
  width: 50%;
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 19%);

}


.map-description-content {
  display: flex;
  flex-direction: row;
  border-style: groove;
  border-style: inset;
  border-width:10px ;
  border-color: #FFC052;
}

.map-description {
  font-size: 1.0625rem;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  width: 100%;
  padding-top: 10px;

}

.map-description-container {
  width: 60%;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-style: none none none inset;
  border-color: #FFC052;
  border-width:10px ;
  flex-shrink: 2;
  box-sizing: border-box;
  /* padding: 50px 50px; */
}

.marker-highlight {
  color: rgb(255, 255, 255);
  text-shadow:
  0 0 7px rgb(255, 255, 255),
  0 0 10px #f5f1e9,
  0 0 50px #f5f1e9,
  0 0 92px #f5f1e9;
}

.map-size {
  flex-grow: 2;
}
