.profile-nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
}



.profile-nav-bar a {

  color: white;
  text-decoration: none;
  padding: 20px 20px;
}


.fa-face-zipper {
  color: white;
}

.fa-ice-cream {
  color: white;
}


.vertical-line-profile {
  border-left: 1px solid white;
  height: 1000px;
  padding: 0px 5px;
  position: absolute;
  right: 500px;
}

.horizontal-line-profile {
  border-bottom: 1px solid white;
  width: 900px;
  padding: 0px 40px;
  position: absolute;
  bottom: 470px;
}



.basic-detail-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  padding-left: 200px;

}

.box1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  background: violet;
  border: 1px solid white;

}

.box2 {
  background: yellowgreen;
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 5;
  border: 1px solid white;

}

.box1a {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background: red;
  border: 1px solid white;

}

.box1b {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background: rgb(174, 120, 120);
  border: 1px solid white;

}

.box4 {
  background: saddlebrown;
  grid-column-start:2;
  grid-row-start:1;
  grid-row-end:3;
  border: 1px solid white;

}

.box5 {
  background: rgb(96, 108, 71);
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 5;
  border: 1px solid white;

}



.profile-select select {
  border-radius: 5px 5px;
  padding: 10px 10px;
  padding-right: 50px;
  /* color: white;
  background: black; */
}

.location-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  padding-left: 200px;
}

.location-box1-map {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background: wheat;
}

.location-box2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background: violet;
}

.location-box3-grid {
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 2;
  grid-row-end: 3;
  background: turquoise;
  display: grid;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
}

.location-box4-lat {
  grid-column-start: 1;
  grid-column-end:1;
  grid-row-start: 1;
  grid-row-end: 1;
  background: yellow;
}
.location-box4-lat {
  grid-column-start: 1;
  grid-column-end:1;
  grid-row-start: 1;
  grid-row-end: 1;
  background: rgb(79, 79, 53);
}
