#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  /* background-color:white; */
  padding: 30px 40px;
  border-radius: 5px 5px;

}

.or {
  border: none;
  border-top: 3px double rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  overflow: visible;
  text-align: center;
  width: 100%;
  margin: 10px 0;
}

.or:after {
  background: #1a1a1a;
  content: 'or';
  padding: 0 10px;
  position: relative;
  top: -12px;
}
