* {
  margin: 0;
  padding: 0;
}

.fa-bars, .fa-times-circle {
  color: white;
}

.menu {
background-color:#1a1a1a;
display: flex;
justify-content: space-between;
padding: 40px 50px;

}


.sidebar {
  height: 1250px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 300px;
  right: -300px;
  transition: all 0.2s linear;
  /* background-color: #e8d5a8; */
  background-color:#1a1a1a;
  z-index: 8;
  overflow-y:auto;
  color: white;
  box-shadow: 0px 0 15px 1px rgb(0, 0, 0);

}

.exit-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 30px 30px;
}

.nav_bar_button {
  color: #f1f1f1;
  text-decoration: none;
  padding: 30px 30px;
}

.menu_container {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.nav-menu-list {
  list-style: none;
}

.menu-logo {
  position: relative;
}


.ok-discover {
  overflow-wrap: break-word !important;
  color: #fff;
  font-size: 3vw !important;
  line-height: 0.9em;
  font-weight: 700;
  text-align: center;
  height: auto;
  margin: 0 auto;
  position: relative;
  font-family: 'Dancing Script', cursive;
  position: absolute;
  z-index: 2;
  top:10px;
  left: 73px;
  transform: rotate(-18deg);
  text-shadow: 1px 1px 2px black;
}

.sign-discover {
  overflow-wrap: break-word !important;
  color: #fff;
  font-size: 5vw !important;
  line-height: 0.9em;
  font-weight: 700;
  left: 30px;
  text-align: center;
  height: auto;
  margin: 0 auto;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFBD4A;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #FFBD4A,
  0 0 82px #FFBD4A,
  0 0 92px #FFBD4A,
  0 0 102px #FFBD4A,
  0 0 151px #FFBD4A;
  position: relative;
  z-index: 1;
}

.allHoroscopes {
  position: absolute;
  top: -120px;
  left: -150px;
  z-index: 1;
  width: 680px;
}
