
.left{
  font-size: 50px;
  z-index: 3;
  position: absolute;
  left: 0px;
 }

 .right{
  font-size: 50px;
  z-index: 3;
  position: absolute;
  right: 0px;
 }

 .one-discover-profile {
  width: 900px;
  height: min-content;
  border: 1px solid black;
  display: inline-block;
  overflow-x: hidden; /* Hide horizontal scrollbar */
 }

 .discover-profiles-container{
  overflow-x: hidden;
  width: 100%;
  float: left;

  height: min-content;

  /* height: 100%; */
  border: 1px solid black;
  margin: 1px;
  overflow: hidden;
  white-space: nowrap;
  overflow-x: hidden;
  background-color: chartreuse;
 }
