
.DiscoverHeaderContainerWQHButtons {
  background-color:#1a1a1a;
  color: white;
  padding-bottom: 20px;
  /* margin-bottom: 30px; */
  padding-left: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  height: 100%;
}


.left{
  font-size: 50px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 80%;
  z-index: 5;
  width: 16%;
 }

 .right{
  font-size: 50px;
  position: absolute;
  bottom: 0px;
  height: 80%;
  z-index: 5;
  width: 16%;
  right: 0;
 }

 .one-discover-profile {
  height: min-content;
  display: inline-block;
  overflow-x: hidden;
  padding: 0px 100px;
  border-right: 160px solid transparent;
  position: relative;
  flex-shrink: 0;
  height: 900px;
  z-index: -0;
  position: relative;
 }

 .one-discover-profile-o {
  height: min-content;
  display: inline-block;
  overflow-x: hidden;
  padding: 0px 100px;
  border-right: 160px solid transparent;
  position: relative;
  flex-shrink: 0;
  height: 900px;
  z-index: -0;
  position: relative;
  opacity: .5;
 }

 .discover-profiles-container{
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: min-content;
  padding-left: 200px;
  padding-right: 200px;
  /* padding: 0px 50px; */
  display: flex;
 }

 .DiscoverContentContainer {
   display: flex;
   align-items: center;
   height: 1045px
 }

 .hide-button {
   position: absolute;
   clip: rect(0 0 0 0);
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   /* background-color: chartreuse; */
 }

 #next-profile {
  cursor: url("https://res.cloudinary.com/mabmab/image/upload/c_scale,h_32,w_32/v1640920753/okSign/yawn_ownsn8.png"), auto;
  }


  #go-back {
    cursor: url("https://res.cloudinary.com/mabmab/image/upload/c_scale,h_32,w_32/v1640921103/okSign/glasses_silugr.png"), auto;
  }


.MatchProfileContainer {
  position: relative;
  box-sizing: border-box;
}



.cursive {
  overflow-wrap: break-word !important;
  color: #fff;
  font-size: 10vw !important;
  line-height: 0.9em;
  font-weight: 700;
  text-align: center;
  height: auto;
  margin: 0 auto;
  position: relative;
  font-family: 'Dancing Script', cursive;
  position: absolute;
  z-index: 2;
  top:10px;
  left:-70px;

  transform: rotate(-18deg);


  text-shadow: 1px 1px 15px black;
}


.circlesContainer_D {
  position: absolute;
  left:80px;
  top:-180px
  }


  .MatchProfileInnerContainer_D {
    position: relative;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
  }

  .userPhotoMatch-first_D {
    position: absolute;
    top: 0;
    left: 50%;
    width: 150px;
    height: 150px;
    background: #ebedf2;
    border-radius: 50%;
    background-size: contain;
    box-shadow: 0 0 0 5px #fff;
    transform: translateX(-94px);
  }

  .userPhotoMatch-last_D {
    position: absolute;
    top: 0;
    left: 50%;
    width: 150px;
    height: 150px;
    background: #ebedf2;
    border-radius: 50%;
    background-size: contain;
    box-shadow: 0 0 0 5px #fff;
    transform: translateX(25px);
    overflow: hidden;

  }



.matchPercentCircle_D {
  position: absolute;
  left: 50%;
  transform: translate(-19%, 105px);
  width: 77px;
  height: 77px;
  margin-bottom: -27px;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  text-align: center;
  font-size: 1.35rem;
  line-height: 20px;
  font-weight: bold;

  background: #1a1a1a;
  color: #fff;
  box-shadow: 0 0 0 3px #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
