/* body {
  background-color:#f3f5f9;
} */

.center-no-matches-component {
  display: flex;
  align-items: center;
  flex-direction: column;
}



.QM, .HM {
  color: whitesmoke;
  font-size: 20px;
  border-style: solid;
  padding: 10px 10px;
  margin-top: 10px;
  border-radius: 3px;
  transition: all 0.5s ease-out;

}

.QM {
  margin-right: 20px;
}

.active, .QM:hover, .HM:hover {
  background-color: #d7a041;
  text-shadow: 1px 1px 2px black;
  color: white;
}


.discoverContent-buttons-container {
  display: flex;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}




.empty {
  color: whitesmoke !important;
}


.matchButtonsContainer {
  display: flex;
  align-items: flex-end;
}


button.selected {
  color: pink;
}

button.blank {
  color: white;
}

.heart-flex {
  display: flex;
}

.match-buttons-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.DiscoverHeaderText {
  /* font-size: 100px;
  overflow-wrap: break-word !important;
  color: #fff;
  line-height: 0.55em;
  font-weight: 700;
  text-align: center;
  height: auto;
  margin: 0 auto;
  position: relative;
  z-index: 1; */

  overflow: hidden;
  position: relative;
  font-size: 50px;

    transform: skew(60deg, -30deg) scaleY(.66667);



}



.DiscoverHeaderText-sub {
  overflow-wrap: break-word !important;
  color: #fff;
  font-size: 3vw !important;
  line-height: 0.9em;
  font-weight: 700;
  text-align: center;
  height: auto;
  margin: 0 auto;
  position: relative;
  font-family: 'Dancing Script', cursive;
  position: absolute;
  z-index: 2;
  top:120px;
  left: 400px;

}


.all-discover-content-container {
  /* padding: 0px 100px; */
  /* position: relative;
  width: max-content; */

}
