.step-container {
  position: relative;
  width: 700px;
  padding-left: 20px;
  display: inline-block;
  overflow-x: hidden;
  padding: 0px 100px;
  /* border-right: 160px solid transparent; */
  flex-shrink: 0;
  height: 700px !important;
  align-self:center;
}



.Step1{
  margin: 0 auto;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;

  position: absolute;
  top: 135px;
  font-size: 60px;
  transform: skew(60deg, -30deg) scaleY(.66667);
  color: white;

}

.Step2 {

  margin: 0 auto;
  padding: 80px 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;


  position: absolute;
  top: 140px;
  left: 120px;
  font-size: 60px;
  transform: skew(0deg, -31deg) scaleY(1.33333);
  color: white;

}

.Step3{
  margin: 0 auto;
  padding: 80px 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;

  position: absolute;
  top: 230px;
  left: 150px;
  font-size: 60px;
  transform: skew(60deg, -30deg) scaleY(.66667);
  color: white;

}

.Step4 {

  margin: 0 auto;
  padding: 80px 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 68px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;


  position: absolute;
  top: 220px;
  left: 160px;
  font-size: 60px;
  transform: skew(0deg, -31deg) scaleY(1.33333);
  transition: all 0.5s ease-out;
  color: #d7a041;
}


.Step5{
  margin: 0 auto;
  padding: 80px 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;

  position: absolute;
  top: 350px;
  left: 190px;
  font-size: 60px;
  transform: skew(60deg, -30deg) scaleY(.66667);
  color: white;

}

.Step6 {
  margin: 0 auto;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;

  position: absolute;
  top: 400px;
  left: 210px;
  font-size: 60px;
  transform: skew(0deg, -31deg) scaleY(1.33333);
  color: white;
  transition: all 0.5s ease-out;

}

.active, .Step4:hover, .Step6:hover {
  text-shadow: 1px 1px 2px black;
  color: #d7a041;
}

#orangeFont {
  color: #d7a041;
}

#whiteFont {
  color: white;
}

.DiscoverStepClick1 {
  margin: 0 auto;
  padding: 80px 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: -.5px;
  text-transform: uppercase;
  position: absolute;
  top: 140px;
  left: 470px;
  transform: skew(0deg, 250deg) scaleY(1.33333);
  transform: rotate(90deg);
  transition: all 0.5s ease-out;
  color: orange;
}

.DiscoverStepClick2 {
  margin: 0 auto;
  padding: 80px 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: -.5px;
  text-transform: uppercase;
  position: absolute;
  top: 225px;
  right: 276px;
  transform: skew(0deg, 250deg) scaleY(1.33333);
  transform: rotate(90deg);
  transition: all 0.5s ease-out;
  color: orange;
}

.hideClickMe {
  display: none;
}
