
.questionPageAnswersContainer {
  padding: 0px 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* background: chartreuse; */
}

.questionTextBig {
  color: white;
  font-size: 50px;
  /* padding-right: 50px; */
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
}

.your-answer {
  padding-left: 20px;
  font-weight: 900;
  padding-top: 30px;
  font-size: 20px;
}

.answer-page {
  padding-left: 20px;
  font-weight: 900;
  padding-top: 20px;
  font-size: 20px;
}
