
.questionPageAnswersContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.questionTextBig {
  color: white;
  font-size: 60px;
  padding-right: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
}
