.oneMatchProfileContainerPage {
  display: flex;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px !important;
  width: 100%;
}
