.bench img {
  width: 425px;
}


.MatchHoroscopeInnerContainer {
  position: relative;
  padding: 20px 20px;
  padding-bottom: 30px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
  z-index: 2;
  margin-bottom: 20px;
}

.matchHoroscopeSign img {
  width: 45px;
  position: absolute;
  top: 45px;
  left: 160px;
  filter: saturate(500%) contrast(800%) brightness(500%)
  invert(100%) sepia(0%) hue-rotate(120deg);
}

.currentUserHoroscopeSign img {
  width: 45px;
  position: absolute;
  top: 77px;
  left: 250px;
}
